.sidebar__footer.l-ph-20.lm-ph-15, .booster-promo, .booster-promo__button, .booster-promo__hide, .booster-promo__unit,
.vacancies_widget, .sidebar-tree-list-item__custom-html-wrapper, .kinopoisk-header-branding, .kinopoisk-branding-footer,
.dstr-fl__outer, .sidebar-tree-list-item:nth-of-type(4) {
    display: none !important;
}

#appPanel, .sidebar, .layout__left-column, .site-header {
  background-color: #212226 !important;
  color: #FFF !important;
}

.block-hidden, .mini-editor, .new_entries, .l-island-bg, .block-incut, .block-quote--centered, .block-quote--default,
.island--blogs_entries, .comments__item__expand, .comments__item__more--inner {
  background-color: #212226 !important;
}

.l-entry, .updown:after {
  background: #303236 !important;
}

.sidebar-tree-list-item--active, .sidebar-tree-list__show-more-button, .search__field, .v-split-button__main,
.search__field .v-field__wrapper,
.ui-rounded-button__link:hover {
  background: #303236 !important;
  color: #FFF !important;
}
.news_widget, .layout__right-column, .content-feed, .ui-rounded-button--active .ui-rounded-button__link,
.content-image--with_background, .comments__item__more--root, .comments__item__more--root--5, .ui-button--5,
.notification, .v-popup-window__content {
  background-color: #36393f !important;
}

.ui-rounded-button__link {
  font-size: 14px !important;
  border-radius: 5px !important;
}

.comments_counter, .news_item .time, .news_widget__toggle, .content-header-number, .content-header-repost, .repost_button__button,
.v-shares__button, .icon--v_arrow_down, .icon--v_arrow_up, .comments__item__date, .comments__item__replied_to, .comments__item__reply,
.u-notification__content__date {
  color: #898c90 !important;
}

.favorite_marker .icon {
  fill: #898c90 !important;
}

.new-entries-horizon {
  color: #dcddde !important;
}

.andropov_link, .andropov_link--with_image {
  border: 0px !important;
  border-width: 0px !important;
  color: #dcddde !important;
  background: #212226;
  -webkit-text-fill-color: #dcddde;
}

.andropov_link__host {
  color: #fff !important;
}

.comments__item__children {
  border-left: 1px solid #dedede6b !important;
}

body {
  background-color: #303136 !important;
  color: #dcddde !important;
}

.block-person a, .block-quote a, .block-warning a, .comments__item__text a, .content figcaption a, .content h2 a, .content h3 a, .content h4 a, .content ol a, .content p a, .content ul a, .content-description a, .page--error .error__message a, .profile_comment_favorite__text a, .profile_comment_self__text a, .sitemap a, .subsite_card_simple__description a, .subsite_head__description a, .t-link-classic {
  color: #23a4d7 !important;
  border-bottom: 1px solid #249fd0 !important;
}

.layout__right-column div div div div div span {
  color: #fff !important;
}

.layout__right-column div div div div div div {
  font-size: 13px !important;
}

body::-webkit-scrollbar {
  background-color: #36393f;
  width: 10px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #36393f;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #212226;
  height: 80px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}

body {
  padding-top: 20px !important;
  /* background-color:darkviolet !important; */
}

#appPanel {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    color: #FFF;
    z-index: 9999;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#appFull, #appClose, #appMinimize, #appBack {
  font-size: 12pt;
  font-weight: 100;
  position: absolute;
  top: 1px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#appFull {
  right: 25px;
}

#appClose {
  right: 2px;
}

#appBack {
  left: 5px;
  font-size: 25px !important;
  top: 4px;
}

#appMinimize {
  right: 48px;
}

.layout__left-column {
    padding-top: 10px;
}

.site-header {
    position: fixed !important;
    margin-top: 20px;
}

.sidebar__widgets_parent .sidebar-tree-list:first-child {
  margin-top: 0px !important;
  margin-left: 4px !important;
}

.sidebar-tree-list-item__name {
  display: none;
}

.sidebar-tree-list-item__image, .sidebar-tree-list-item__image img {
  width: 40px !important;
  height:40px !important;
  margin-right: 9px !important;
}

.sidebar-tree-list-item__link svg {
  width: 35px !important;
  height: 35px !important;
  color: #FFF !important;
  margin-left: 3px !important;
}

.app--content-feed.app--left-column-on.app--right-column-on .layout__left-column, .app--content-full.app--left-column-on .layout__left-column,
.layout__left-column.layout__sticky {
  width: 68px !important;
  top: 77px !important;
}

.sidebar-tree-list-item__icon {
  margin-right: 0px !important;
}

.sidebar-tree-list-item__badge {
  position: absolute !important;
  right: 15px !important;
}

.sidebar-tree-list--limited {
  margin-left: 4px !important;
}

.sidebar-tree-list-item, .sidebar-tree-list-item--active {
  width: 60px;
}

.sidebar-tree-list-item__link, .sidebar-tree-list-item--custom-html {
  padding: 0 10px !important;
}

.sidebar-tree-list-item__link .icon.icon--ui_pin_stroked {
  width: 16px !important;
  position: absolute !important;
  left: -12px !important;
  z-index: 99999 !important;
}

.sidebar-tree-list-item__favourite {
  position: sticky;
  width: 36px !important;
  height: 36px !important;
}

.sidebar-tree-list__show-more-button .icon.icon--ui_arrow_down, .sidebar-tree-list__show-more-button .icon.icon--ui_arrow_up {
  display: none;
}

.sidebar-tree-list__show-more-button {
  color: #fff !important;
  padding: 0 !important;
  font-size: x-small !important;
  text-align: center !important;
  display: block !important;
  margin-top: 10px !important;
  padding: 0 !important;
  padding-top: 15px !important;
  border-radius: 8px 8px 8px 8px !important;
  margin-left: 5px !important;
}

.v-text-input__input::placeholder {
  color: #FFF !important;
}

.search__field .v-field:not(.v-field--focused) .v-field__wrapper:not(:hover) .v-field__icon {
  color: #FFF !important;
}

.site-header__item .v-split-button .v-split-button__select {
  display: none !important;
}

.app--content-feed.app--left-column-on.app--right-column-on #page_wrapper {
  width: 770px !important;
}

.layout__right-column {
  width: 300px !important;
  padding-top: 10px !important;
}

.layout__right-column div div div div div div{
  margin-left: 0px !important;
  animation: fadein 1s;
}

.layout__right-column > div > div {
  top: 84px !important;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.ui-border--bottom {
  border-bottom: 0px solid #f2f2f2 !important;
}

.ui-tab--active .ui-tab__label {
  color: #fff !important;
}

.vote--comment.vote--sum-positive .vote__value {
  background-color: rgba(69,192,69,.1) !important;
}

.vote--comment.vote--sum-negative .vote__value {
  background-color: rgb(185 44 44 / 10%) !important;
}

.comments_form {
  color: #000 !important;
  background-color: #36393f !important;
}

.comments__item__self--author .comments__item__user__name .user_name {
  background-color: #36393f !important;
}

.comments__item__space--pinned, .comments__item__space--new, .comments__item__space--highlighted {
  background-color: #303236 !important;
}

.widget_wrapper--type-blue {
  background-color: #212226 !important;
}

.editor {
  background-color: #FFF !important;
  color: #000 !important;
}

.v-list-tab--active {
  background-color: #4683d9 !important;
}

.v-tabs--overflown::after, .v-tabs--overflown::before {
  background-image: none !important;
}

.v-tabs-navigation {
  background-color: #36393f !important;
}

.u-notification--unread {
  background: #4f545c !important;
}

.u-notification--border, .head-notifies__header {
  border-bottom: 0px solid #f2f2f2 !important;
}

.head-notifies__footer {
  border-top: 0px solid #f2f2f2 !important;
}

.head-notifies__panel {
  background: #303136 !important;
  color: #f5fcff !important;
}

.u-notification--unread.u-notification--hover:hover {
  background: #212226 !important;
}

.u-notification--hover:hover {
  background: #212226 !important;
}

.andropov_telegram, .andropov_tweet {
  background-color: #212226 !important;
  border: 0px solid #dedede !important;
}

.layout__right-column > div > div > div:first-of-type {
  display: none !important;
}

.messenger {
  background: transparent !important;
}

.aside-search input {
  color: #000 !important;
  background: #303136 !;
}

.aside__list-heading {
  background: #303136 !important;
}

.chat-form__textarea {
  background: #303136 !important;
  color: #FFF !important;
}

.comment__children>.comment:not(.comment--level-last):last-child {
  -webkit-box-shadow: calc(var(--offset-branch)*-1 - 1px) 0 0 0 #212226 !important;
  box-shadow: calc(var(--offset-branch)*-1 - 1px) 0 0 0 #212226 !important;
}

.comment__children {
  -webkit-box-shadow: inset var(--width-branch) 0 0 0 #2e2f33 !important;
  box-shadow: inset var(--width-branch) 0 0 0 #2e2f33 !important;
}

.comment__arc::after {
  -webkit-box-shadow: inset 0 0 0 var(--stroke-width) #2e2f33 !important;
    box-shadow: inset 0 0 0 var(--stroke-width) #2e2f33 !important;
}

.comment__self--author .comment-user__name {
  background-color: #2e2f33 !important;
  padding: 0 5px 0 5px;
}

.notify-new-items-label {
  background: #2e2f33 !important;
}

.comment__space--highlighted::before, .comment__space--new::before {
  background-color: #303236 !important;
  -webkit-box-shadow: 0 0 0 4px #303236 !important;
  box-shadow: 0 0 0 4px #303236 !important;
}

.quiz {
  background-color: #212226 !important;
}

.mini-editor, .v-subscribe-button__subscribe {
  display: none !important;
}

.comment__branch {
  border-left-color: #36393f !important;
}
.comment__branch:not(.comment__branch--max-level):last-child::before {
  border-color: #36393f !important;
}

.subsite-card__messenger {
  background-color: #212226 !important;
  color: #d6d5d8 !important;
}

.comment--highlighted, .comment--new {
  background-color: #36393f !important;
  --background-color: #36393f !important;
}

.comment__author--highlighted {
  background-color: #303236 !important;
  border-radius: 2px !important;
  padding: 2px 10px !important;
}

.support {
  display: none !important;
}

.comment-form {
  color: rgb(255, 255, 255) !important;
  background: rgb(48, 50, 54) !important;
}

.vote__value {
  padding: 10px !important;
}

.entry-article-footer-kinopoisk {
  display: none !important;
}

.navigation-create .v-button {
  background-color: #36393f !important;
  color: #FFF !important;
}

.notifications__header {
  border-bottom: 1px solid #303136 !important;
}

.notifications__footer {
  border-top: 1px solid #303136 !important;
}

.v-subscribe-button .v-button {
  background-color: #36393f !important;
  color: #FFF !important;
}

.subsite-card {
  background: #212226 !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.subsite-card__description {
  white-space: initial !important;
  font-size: 12px !important;
}

.content--embed {
  -webkit-box-shadow: 0 0 0 1px #212226 !important;
  box-shadow: 0 0 0 1px #212226 !important;
  background: #212226 !important;
}

.content {
  /* padding-top: 10px; */
  padding-bottom: 10px;
}

.content-image {
  background-color: rgb(33 34 38) !important;
}

.v-tab--active {
  color: #dcddde !important;
}

.site-header-logo {
  padding-left: 25px !important;
}

.block-warning {
  background: #212226 !important;
}

.comment--with-donate {
  --background-color: rgb(0 0 0 / 50%) !important;
}

.subsites_catalog__search__bar {
  background: #303236;
  padding: 10px;
}

.subsites_catalog__search {
  border: 0 !important;
}

.subsites_catalog_item:before {
  background-color: #303136 !important;
}

.subsites_catalog__label--bordered {
  border-top: 1px solid #303136 !important;
}

.v-text-input__input {
  color: #FFF !important;
}

.content mark {
  background: rgb(33 34 38) !important;
  color: rgb(220, 221, 222) !important;
}

.entry-native-branding-kinopoisk {
  display: none !important;
}

.select-searchable .v-field .v-field__wrapper {
  background-color: #36393f !important;
  border:none !important;
}

.search-filter__main .number-interval-input .v-field__wrapper {
  background-color: #36393f !important;
  border:none !important;
}

.search-filter__main .date-interval-input .v-field--default .v-field__wrapper {
  background-color: #36393f !important;
  border:none !important;
}

.v-checkbox__control {
  background-color: rgb(54 57 63) !important;
}

.account-menu-root {
  background: #303236 !important;
}

.user-card__text {
  color: #FFFFFF !important;
}

.account-menu__item {
  color: #FFFFFF !important;
}

#account_info {
  display: block;
  width: 400px;
  height: 245px;
  background: #36393f;
  position: relative;
  top: -10px;
  z-index: 99;
  padding: 0px;
}

#header_image {
  width: 100%;
  height: 120px;
  background-size: cover;
}

#block_info { 
  color: #fff;
  font-size: 12px;
  padding: 7px;
  font-weight: 100;
}

#block_info b {
  font-weight: 500;
}

.feed-navigation {
  background-color: #303136 !important;
}

.mobile-bar {
  background-color: #212226 !important;
}

.comments__link_to_all {
  background-color: #36393f !important;
}

.m-floating {
  background-color: #212226 !important;
}

.popover {
  background-color: #36393f !important;
}

.notifications__mark-as-rea, .u-notification__content__button, .subsites_tune__select-all, .t-link-inline{
  color: #cad0d4 !important;
}

.comment__text a {
  color: #ffffff !important;
  border-bottom: 1px solid #696c6f !important;
}

.block-audio {
  border: 0 !important;
}

.bookmarks_return {
  color: #595954 !important;
}

.v-repost .popover {
  color: #FFFFFF !important;
}


#tabs {
  z-index: 9;
}

a {
  cursor: pointer;
}

#tabs li {
  float: left;
  list-style: none;
  outline: none;
  width: 33%;
}

#tabs li a {
  font-size: 16px;
  text-align: center;
  color: #000;
  font-weight: 100;
  padding: 10px;
  display: block;
  background: #FFF;
  text-decoration: none;
  outline: none;
  border-radius: 7px;
  margin-right: 5px;
}

#tabs li a.inactive {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background: none;
  color: #000;
  margin: 4px;
}

#tabs li a:hover,
#tabs li a.inactive:hover {
  color: #5685bc;
  outline: none;
}

.tab-box {
  clear: both;
  width: 100%;
  text-align: left;
}

.tab-box h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #5685bc;
}

.tab-box p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
  font-size: small;
}

.tab-box ul {
  margin-left: 25px;
  font-size: small;
  line-height: 1.4;
  list-style-type: disc;
}

.tab-box li {
  padding-bottom: 5px;
  margin-left: 5px;
}

.tab-box .content .content-container div p {
  font-size: 16px;
  line-height: 1.5em;
}

.tab-box .content .content-container div ul {
  font-size: 16px;
  line-height: 1.5em;
}

.pass-dropdown {
  position: relative;
  display: block;
  float: right;
  background: #36393f;
  padding: 4px 10px 4px 10px;
  font-size: 14px;
  border-radius: 4px;
  margin: 0;
  margin-right: 10px;
}

.pass-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  --main-offset: 6px;
  --search-bottom-offset: 4px;
  --scrollbar-offset: 8px;
  --item-offset-left: 10px;
  --item-offset-right: 18px;
  --item-gap: 4px;
  --text-color: #000;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #212226;
  color: #FFFFFF;
  -webkit-box-shadow: 0 4px 8px rgb(0 0 0 / 6%), 0 0 1px rgb(0 0 0 / 25%);
  box-shadow: 0 4px 8px rgb(0 0 0 / 6%), 0 0 1px rgb(0 0 0 / 25%);
  border-radius: 8px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 400px;
  color: var(--text-color);
}

.pass-dropdown:hover .pass-dropdown-content {
  display: flex;
}

#tabs a {
  --color-background: transparent;
  --icon-size: 22px;
  --icon-offset: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: var(--item-offset-left);
  padding-right: var(--item-offset-right);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 6px;
  outline: 0;
  color: #FFFFFF;
}

#tabs a:hover {
  --color-background: rgba(0,0,0,0.05);
}

.popover-item {
  color: #FFFFFF !important
}

.popover-item--selected {
  --color-background: #212226 !important;
}

.bubble[arrow-alignment^="top"][data-v-06ea7b0a]:before {
  background: #212226 !important;
}

.bubble {
  background: #212226 !important;
}